<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box width center margin text-center margin-top">
        <form action="/search" method="POST">
            <label>Search posts: </label>
            <input
                type="search"
                id="searchInput"
                name="searchTerm"
            />
        </form>
    </div>
</body>
</html>