<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script defer src="/js/script.js"></script>
</head>
<body>
    <div class="flex center small-width navbar">
        <a class="box center navitem" href="/">HOME</a>
        <a class="box center navitem" href="/logout"><%- username %> / LOGOUT</a>
    </div>
    <%- body %>
    <%- include('../partials/footer') %>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
</style>
</html>