<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <div class="center margin-top width">
        <h1 class="text-center">Create new post</h1>
        <form action="/create" method="POST">
            <label>Title</label><br />
            <input type="text" name="title"><br /><br />
            <label>Body</label><br />
            <textarea type="text" name="body" class="textarea"></textarea><br /><br />
            <button type="submit" value="login" class="right">CREATE</button>
        </form>
    </div>
</body>
</html>