<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="center margin-top set-small-width">
        <h1 class="text-center">Login</h1>
        <form action="/login" method="POST">
            <label>Email</label><br />
            <input type="text" name="email"><br /><br />
            <label>Password</label><br />
            <input type="password" name="password"><br /><br />
            <button type="submit" value="login">LOGIN</button>
            <button><a href="/register">REGISTER</a></button>
        </form>
    </div>
</body>
</html>