<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="center margin-top set-small-width">
        <h1 class="text-center">Register</h1>
        <form action="/register" method="POST">
            <label>Username</label><br />
            <input type="text" name="username"><br /><br />
            <label>Email</label><br />
            <input type="email" name="email"><br /><br />
            <label>Password</label><br />
            <input type="password" name="password"><br /><br />
            <button type="submit" value="register">REGISTER</button>
        </form>
        <p class="red"><%- registerError%></p>
    </div>
</body>
</html>